* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.mbsc-schedule-event {
  font-size: 2rem;
  text-align: center;
}
.dropdown :active {
  background-color: white;
}
.rigth-side .btn {
  color: white;
}
.navbar {
  background-color: rgb(48 158 174);
}
.container-fluid .btn {
  background-color: #609819;
}

.external-event-calendar {
  border-right: 1px solid #ccc;
}

.external-event-task {
  color: #fff;
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
  font-family: -apple-system, Segoe UI, Roboto, sans-serif;
}

.demo-external-event-presets.demo-wrapper,
.demo-external-event-presets .mbsc-grid,
.demo-external-event-presets .mbsc-row,
.demo-external-event-presets .external-event-calendar {
  height: 100%;
}

/*CONGES TITLE */
.container-picker {
  max-width: 50vw;
  display: flex;
  flex-wrap: wrap;
}
.leave-picker {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  margin-left: 1em;
}
.container {
  max-width: 90%;
  margin-top: 4em;
}
.leave-section {
  margin: 4em auto;
}
.leave-h3 {
  font-family: "Bebas Neue", cursive;
  text-align: center;
}
.leave-title {
  background-color: #2f9dac;
  color: #f1f1f1;
  margin-bottom: 2em;
}

.leave-balances {
  display: flex;
  text-align: center;
}

.leave-history {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, 186px);
  color: white;
  text-align: center;
  justify-content: center;
}
.leave-history > * {
  background-color: #2f9dac;
  border-radius: 3%;
  margin: 1em;
}

.resource-template-content {
  position: relative;
  padding-left: 80px;
  text-align: left;
}

/* ######## Form Pointages ######## */

.form-example-pointages .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.form-example-pointages label {
  font-family: "Bebas Neue", cursive;
  font-size: 1.2em;
}

.form-example-pointages p {
  font-family: "Bebas Neue", cursive;
  font-size: 1.2em;
}

.form-example-jour {
  grid-area: 1 / 1 / 2 / 2;
}

.form-example-planifie {
  grid-area: 2 / 1 / 3 / 3;
  margin-top: 32px;
  width: 300px;
}

.form-example-planifie input {
  position: relative;
  left: 3.4%;
}

.form-example-total {
  grid-area: 3 / 1 / 4 / 3;
  width: 300px;
}

.form-example-total input {
  position: relative;
  left: 7.5%;
}

.horairesPlanning {
  grid-area: 4 / 1 / 6 / 2;
}

.PointagesHoraires {
  grid-area: 4 / 2 / 6 / 3;
}

.correctionHoraires {
  grid-area: 4 / 3 / 6 / 4;
}

.MotifPointages {
  grid-area: 4 / 4 / 5 / 5;
}

.boutonValidation {
  grid-area: 5 / 4 / 6 / 5;
  width: 6.95rem;
  height: 3rem;
  position: relative;
  top: 11%;
  left: 10.5%;
  background-color: #2f9dac;
  color: white;
}

.boutonValidationKik {
  width: 6.95rem;
  height: 3rem;
  position: relative;
  top: 11%;
  left: 10.5%;
  background-color: #2f9dac;
  color: white;
}

.boutonValidation:hover {
  transition: all 0.2s ease-in-out;
  color: #2f9dac;
  border: 1px solid #2f9dac;
  background: #f1f1f1;
}

.resource-avatar {
  position: absolute;
  max-height: 50px;
  max-width: 50px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 40px;
}

.resource-name {
  font-size: 20px;
}

.pictures_creationPlanning {
  width: 50px;
  height: 50px;
  align-items: center;
}

.planning .mbsc-schedule-col-width {
  width: 5rem;
}

.bouton_validation_planning {
  position: absolute;
  top: 150px;
  left: 20px;
  z-index: 5;
}
.header-resource-avatar {
  border-radius: 50%;
  object-fit: cover;
}
.container-fluid img {
  width: 2rem;
  border-radius: 50%;
}

/* ------ HOME  PAGE NO CONNECTED ------- */

.rigth-side {
  text-align: center;
  margin-left: 5em;
}

.rigth-side > h2 {
  font-family: "Bebas Neue", cursive;
  white-space: nowrap;
  margin-bottom: 1.5rem;
  white-space: nowrap;
}

.boutonConnexion form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-btn {
  color: #f1f1f1;
  background-color: #2f9dac;
  font-size: 18px;
  text-align: center;
  padding: 0.8em;
  border-radius: 5px;
  margin-top: 1em;
  border: 1px solid #f1f1f1;
  width: 10em;
  cursor: pointer;
}

.home-btn .connexionText {
  color: white;
  margin-right: 0.5rem;
}

.home-btn:hover {
  transition: all 0.2s ease-in-out;
  color: #2f9dac;
  border: 1px solid #2f9dac;
  background: #f1f1f1;
}

.home-btn:hover .connexionText {
  color: #2f9dac;
}

.home-no-connected {
  padding: 10em 2em 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  position: relative;
  align-items: center;
}

.rigth-side .TacTicHomepage {
  color: #2f9dac;
  font-family: "Bebas Neue", cursive;
}

.entireHomepage {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}

.container-home-image img {
  width: auto;
  height: auto;
}

/* ------ HOMEPAGE NO CONNECTED : Medias queries ------- */

@media screen and (max-width: 1001px) {
  .home-no-connected {
    padding: 0em 2em 10em;
  }
}

@media screen and (max-width: 1420px), (min-width: 1130px) {
  .container-home-image img {
    height: 400px;
    width: auto;
  }
}

@media screen and (max-width: 1069px) {
  .rigth-side {
    margin-left: 0;
  }
}
/* ------ END HOMEPAGE NO CONNECTED : Medias queries ------- */

/* ------ CSS INDEXPAGE COLLAB ET MANAGER ------- */
.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding-left: 1rem;
  padding-right: 1rem;

  margin-top: 5rem;
}

.div1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #2f9dac;
  color: white;
  height: 2.9rem;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  align-items: center;
  padding-left: 1rem;
  border-radius: 5px;
  grid-area: 1 / 1 / 2 / 4;
}
.div2 {
  color: #2f9dac;
  grid-area: 2 / 1 / 4 / 4;
}
.div3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #2f9dac;
  color: white;
  height: 2.9rem;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  align-items: center;
  padding-left: 1rem;
  border-radius: 5px;
  grid-area: 1 / 4 / 2 / 7;
}
.div4 {
  grid-area: 2 / 4 / 4 / 7;
}
.div5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #2f9dac;
  color: white;
  height: 2.9rem;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  align-items: center;
  padding-left: 1rem;
  border-radius: 5px;
  grid-area: 4 / 1 / 5 / 7;
}
.div6 {
  margin-bottom: 0rem;
  grid-area: 5 / 1 / 8 / 7;
}
.div7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #2f9dac;
  color: white;
  height: 2.9rem;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  align-items: center;
  padding-left: 1rem;
  border-radius: 5px;
  grid-area: 8 / 1 / 9 / 4;
}
.div8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #2f9dac;
  color: white;
  height: 2.9rem;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  align-items: center;
  padding-left: 1rem;
  border-radius: 5px;
  grid-area: 8 / 4 / 9 / 7;
}
.div9 {
  grid-area: 9 / 1 / 11 / 4;
}
.div10 {
  grid-area: 9 / 4 / 11 / 7;
}
.div11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #2f9dac;
  color: white;
  height: 2.9rem;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  align-items: center;
  padding-left: 1rem;
  border-radius: 5px;
  grid-area: 11 / 1 / 12 / 7;
}
.div12 {
  grid-area: 12 / 1 / 13 / 7;
}
/* ------ END CSS INDEXPAGE COLLAB ET MANAGER ------- */
.ManagerConges {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.cardConge div {
  text-align: center;
  width: 288px;
  background-color: #2f9dac;
}
.toast {
  z-index: 11;
}
.titreDemande {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #2f9dac;
  color: white;
  height: 2.9rem;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  align-items: center;
  padding-left: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 5px;
  grid-area: 1 / 1 / 2 / 6;
}

/* ============ PAGE ERROR 404 ============ */
.error-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.left-side-error {
  padding: 6rem 7rem;
}

.error-page img {
  height: 700px;
}

.error-page h1 {
  text-align: center;
  color: #2f9dac;
  font-family: "Bebas Neue", cursive;
}
.error-btn {
  background-color: #2f9dac;
  text-align: center;
  width: 15rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  color: #f1f1f1;
}
.error-btn:hover {
  transition: all 0.2s ease-in-out;
  color: #2f9dac;
  border: 1px solid #2f9dac;
  background: #f1f1f1;
}
@media screen and (max-width: 768px), (max-width: 1024px) {
  .error-page img {
    height: 400px;
  }
  .error-btn {
    width: 9rem;
    height: 2rem;
  }
}
/* ============= FIN ERROR PAGE 404 ============= */
.mbsc-schedule-time-col {
}

.dashboard {
  height: 50rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 0 4rem;
  margin-top: 2em;
}

.anomalie {
  background-color: #2f9dac;
  text-align: center;
  color: white;
  height: 2rem;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  align-items: center;
  padding-left: 1rem;
  border-radius: 5px;
  grid-area: 1 / 1 / 2 / 6;
}
.dataAnomalie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-area: 2 / 1 / 3 / 6;
}
.dataDay {
  text-align: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5%;
  margin: 1vw;
  width: 5rem;
  height: 7rem;
  font-size: 14px;
}
.dataDay > p {
  text-align: center;
  margin-top: 1em;
}
.dayAnomalie {
  background-color: #752b26;
  color: #f1f1f1;
}
.message {
  background-color: #2f9dac;
  text-align: center;
  color: white;
  height: 2rem;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  align-items: center;
  padding-left: 1rem;
  border-radius: 5px;
  grid-area: 1 / 6 / 2 / 11;
}
.datamessage {
  grid-area: 1 / 6 / 4 / 11;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  display: flex;
  font-family: "Bebas Neue";
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.horaires {
  background-color: #2f9dac;
  text-align: center;
  color: white;
  height: 2rem;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  align-items: center;
  padding-left: 1rem;
  border-radius: 5px;
  grid-area: 3 / 1 / 4 / 11;
}
.dataHoraires {
  border-radius: 5px;
  width: auto;
  display: flex;
  flex-direction: wrap;
  direction: inherit;
  justify-content: center;
  line-height: 2rem;
  grid-area: 4 / 1 / 7 / 11;
}
.compteurs {
  margin-top: 1rem;
  background-color: #2f9dac;
  text-align: center;
  color: white;
  height: 2rem;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  align-items: center;
  padding-left: 1rem;
  border-radius: 5px;
  grid-area: 7 / 1 / 8 / 6;
}
.ecarts {
  margin-top: 1rem;
  background-color: #2f9dac;
  text-align: center;
  color: white;
  height: 2rem;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  align-items: center;
  padding-left: 1rem;
  border-radius: 5px;
  grid-area: 7 / 6 / 8 / 11;
}
.datacompteurs {
  grid-area: 8 / 1 / 9 / 6;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  padding: 1em;
  margin: 1em;
}
.dataecarts {
  grid-area: 8 / 6 / 9 / 11;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  padding: 1em;
  margin: 1em;
}
.conges {
  background-color: #2f9dac;
  text-align: center;
  color: white;
  height: 2rem;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  align-items: center;
  padding-left: 1rem;
  border-radius: 5px;
  grid-area: 9 / 1 / 10 / 11;
}
.dataconges {
  background-color: #2f9dac;
  width: 20rem;
  color: white;
  display: flex;
  margin-right: 1rem;
  padding-top: 1rem;
  text-align: center;
  flex-direction: row;
  justify-content: flex-start;
  grid-area: 10 / 1 / 11 / 11;
}
.mbsc-schedule-event-range {
  font-size: 5em;
}
/* ===============TEST==============  */
.horaires-left {
  grid-area: 5 / 1 / 4 / 6;
}
.horaires-right {
  grid-area: 4/ 11 / 4 / 6;
}
.week-title-left {
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
  text-align: center;
  color: #1d626b;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  margin: 1rem auto;
}

.week-title-right {
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
  text-align: center;
  color: #1d626b;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  margin: 1rem auto;
}
.row-horaires {
  text-align: center;
  margin: 2vw auto;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-horaires {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  border-radius: 5%;
  margin: 0.5%;
  width: 6rem;
  height: 9rem;
  font-size: 12px;
}
.card-horaires > p {
  padding: 7%;
  margin: 5%;
}
.day {
  background-color: #2f9dac;
  color: #f1f1f1;
  border-radius: 5%;
  font-size: 12px;
}
.dash {
  background-color: #658a8f;
  border-radius: 5%;
  color: #f1f1f1;
}

.dataHorairesSemainesSuivantes {
  grid-area: 5/ 11 / 4/ 6;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2vw auto;
}
/* =============== FIN TEST==============  */

/* ============= PAGE MANAGER/CONGES ============= */
@media screen and (max-width: 1490px) {
  .row {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .col-2 {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .col-2 .btn-red {
    margin-right: 10rem;
  }
}
/* ============= FIN PAGE MANAGER/CONGES ============= */
.formRh {
  background-color: #2f9dac;
  height: auto;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* ============= DEBUT PAGE PLANNING COLLABORATEUR ============= */
.buttonPDF {
  background-color: "#2f9dac";
  position: absolute;
  z-index: 5;
  top: 180px;
  left: 20px;
}
@media screen and (max-width: 540px) {
  .buttonPDF {
    background-color: "#2f9dac";
    position: absolute;
    z-index: 5;
    top: 210px;
    left: 10px;
  }
}

/* ============= DEBUT PAGE PLANNING CREATION ============= */
.modalPlanning {
  position: absolute;
  z-index: 5;
  left: 40%;
}
@media screen and (max-width: 540px) {
  .modalPlanning {
    position: absolute;
    z-index: 5;
    top: 210px;
    left: 10px;
  }
}
@media screen and (max-width: 1214px) {
  .MotifPointages {
    display: "anchored";
  }
  .form-example-pointages .container {
    line-height: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-example-pointages .btn {
    margin-right: 9.5rem;
    margin-top: 1rem;
  }
}
